<div id="development">
  <div class="content">
    <h2>Bem vindo ao lendário Brazil Startup Lab!</h2>
    <h4>O que precisamos fazer agora?</h4>
    <ul>
      <li>Conversar os modelos: users, projects, etc...</li>
      <li>Implementar os cruds e fluxos necessários</li>
      <li>Passar o front pra cá</li>
      <li>Algo mais?</li>
    </ul>
    <h4>Observações</h4>
    <ul>
      <li>O projeto está em <a href="http://rubyonrails.org/" target="blank">Rails</a> 4.1.7</li>
      <li>Usaremos como database o <a href="http://www.mysql.com/" target="blank">MySQL</a></li>
      <li>Para o front usaremos o <a href="http://sass-lang.com/" target="blank">Sass</a> bonitão</li>
      <li>Desativei o <a href="http://coffeescript.org/" target="blank">CoffeeScript</a>, não vejo o porque dele</li>
    </ul>
  </div>
</div>
