$bg: #ecf0f1;
$fw: #2c3e50;
$air: 50px;

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#development{
  background-color: $bg;
  padding: $air;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .content{
    text-align: center;
    color: $fw;
    padding: $air;
    border: 5px $fw dashed;
    width: 100%;
    max-width: 800px;
    margin: auto;
    h2{ margin: 10px 0 35px; }
    h4{ margin: 25px 0 10px; }
    ul{
      list-style: none;
      padding: 0;
      margin: 10px;
      li{ padding: 3px; }
    }
    a{
      text-decoration: none;
      color: #2980b9;
    }
  }
}
